<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mercadopago.android.px"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".internal.features.TermsAndConditionsActivity"
            android:label="@string/px_title_activity_terms_and_conditions"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name=".internal.features.checkout.CheckoutActivity"
            android:label=""
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="px"
                    android:path="/one_tap"
                    android:scheme="mercadopago" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="px"
                    android:path="/one_tap"
                    android:scheme="meli" />
            </intent-filter>
        </activity>
        <activity
            android:name=".internal.features.ErrorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name=".internal.features.payment_result.PaymentResultActivity"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name=".internal.features.security_code.SecurityCodeActivity"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".internal.features.plugins.PaymentProcessorActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar" />
        <activity
            android:name=".internal.features.business_result.BusinessPaymentResultActivity"
            android:label=""
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.MercadoPagoTheme.NoActionBar"/>
        <activity android:name=".internal.features.dummy_result.DummyResultActivity"/>

        <provider
            android:name=".internal.di.PxCheckoutInitProvider"
            android:authorities="${applicationId}.px.provider"
            android:exported="false" />
    </application>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.VIBRATE"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>